<header
  class="py-3 mb-3 border-bottom"
  style="background-color: rgb(226, 225, 225)"
>
  <div
    class="container-fluid col-6 gap-3 text-start"
    style="grid-template-columns: 1fr 2fr; margin-left: 20px"
  >
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item">
        <a
          routerLink="/"
          class="nav-link fs-5 fw-bold"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          style="color: rgb(22, 102, 102)"
        >
          Home
        </a>
      </li>
    </ul>
  </div>
</header>
